{% extends 'layouts/base.html.twig' %}

{% block title 'New Teacher'%}

{% block body %}

    <h1>Create a new Teacher</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}

                <input type="submit" value="Create teacher">

        {{ form_end(form) }}
 
{% endblock %}
