{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Teacher #' ~ teacher.id %}

{% block body %}

        
            <div class="row">
                <div class="col-md-6 mx-auto">

                     <h1>Update Mms/M. {{ teacher.title}}</h1>

                        {{ form_start(form) }}
                            {{ form_widget(form) }}

                                 <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update teacher" formnovalidate>

                        {{ form_end(form) }}

                </div>
            </div>

 
{% endblock %}
