{% extends 'base.html.twig' %}

{% block title 'Find all the teachers of ISTEC'%}

{% block body %}
 
 
 <h1>{{ pluralize(teachers|length, 'Teacher') }}</h1>

        {% for teacher in teachers%}
            <article> 
                <h2><a href="{{ path('app_teachers_show', {id: teacher.id}) }}">{{ teacher.title }}</a></h2>
                <p>{{ teacher.description }}</p>
            </article>
        {% endfor%}

{% endblock %}
