@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}

.navbar {
    background-color: lightgrey;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;
            }

.ml-auto{
    margin-left: auto;
        }
          
.btn-block {
    margin-top: 6px;
    display: block;
    width: 100%;
            }
.alert-success {
    background-color: green;
            }

.alert-info {
background-color: red;
            }

.form-group .form-check {
    margin-top: 15px;
    margin-bottom: 15px;
                
    }

    .vich-image img {
        @extend .mb-2, .rounded, .shadow, .img-thumbnail;
      
    }

    .teacher img {
        transition: transform 0.3s ease-out;
        &:hover {
            transform: scale(1.075);
        }
    }

    .paddin {
        padding-left: 10px;
        background-color: orange;
    }
    .paddin .Ad {
        padding-left: 100px;
        margin: 20px;
    }

    .Af {
        padding-left: 40px;
        margin: 20px;
    }

    .paddin .Ad .btn{
        background-color: rgb(19, 18, 18);
        border: none;
        color: rgb(252, 248, 248);
        display: inline-block;
        padding: 20px;
        margin: 2px 2px;
        cursor: pointer;
    }